<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/index.css'>
    <link rel='stylesheet' href='/stylesheets/create.css'>
    <link rel='stylesheet' href='/stylesheets/content_view.css'/>
    <link rel="stylesheet" href='/stylesheets/header.css'/>
    <title>Create</title>
</head>
<body>
    <section class="Container">
        <article class="Content">
            <% include ../header.ejs %>
            
            <article class="Create">
                <div class="Create-News">
                    <div class="Create-News-Post">
                        <img class="Create-News-Image" src="./images/news/Airpods1.jpg" alt="airpods" />
                        <div class="Create-News-Text">에어팟에 실망한 사람들을 위한 대안 - 얼리어답터</div>
                        <div class="Create-News-Link">earlyadopter.co.kr</div>
                    </div>
                    <div class="Create-News-Post">
                        <img class="Create-News-Image" src="./images/news/Airpods2.jpg" alt="airpods" />
                        <div class="Create-News-Text">"괜히 기다렸네"... 새 에어팟에 싸늘한 소비자 - ZDNet</div>
                        <div class="Create-News-Link">zdnet.co.kr</div>
                    </div>
                    <div class="Create-News-Post">
                        <img class="Create-News-Image" src="./images/news/Airpods3.jpg" alt="airpods" />
                        <div class="Create-News-Text">2세대 에어팟 출시한 애플, 무선충전 시리 등 달라진</div>
                        <div class="Create-News-Link">hypebeast.kr</div>
                    </div>
                    <div class="Create-News-Post">
                        <img class="Create-News-Image" src="./images/news/Airpods4.jpg" alt="airpods" />
                        <div class="Create-News-Text">애플, 무선충전 가능한 에어팟2 출시 - 한우리경제</div>
                        <div class="Create-News-Link">hanuribiz.com</div>
                    </div>
                    <div class="Create-News-Post">
                        <img class="Create-News-Image" src="./images/news/Airpods5.jpg" alt="airpods" />
                        <div class="Create-News-Text">에어팟에 실망한 사람들을 위한 대안 - 얼리어답터</div>
                        <div class="Create-News-Link">earlyadopter.co.kr</div>
                    </div>
                </div>
                <div class="Create-Post">
                    <div class="Create-Post-Insert">
                        <table class="Create-Post-Table">
                            <tbody>
                                <tr class="Create-Post-Table-Body">
                                    <th class="Create-Post-Table-Category"></th>
                                    <th class="Create-Post-Table-Head">에어팟</th>
                                    <th class="Create-Post-Table-Head">차이팟</th>
                                    <th class="Create-Post-Table-Head">제품선택</th>
                                    <th class="Create-Post-Table-Head">제품선택</th>
                                </tr>
                                <tr class="Create-Post-Table-Body">
                                    <td class="Create-Post-Table-Category">가격</td>
                                    <td class="Create-Post-Table-Value">150,000</td>
                                    <td class="Create-Post-Table-Value">100,000</td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                </tr>
                                <tr class="Create-Post-Table-Body">
                                    <td class="Create-Post-Table-Category">무게</td>
                                    <td class="Create-Post-Table-Value">50g</td>
                                    <td class="Create-Post-Table-Value">40g</td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                </tr>
                                <tr class="Create-Post-Table-Body">
                                    <td class="Create-Post-Table-Category">배터리</td>
                                    <td class="Create-Post-Table-Value">1000AH</td>
                                    <td class="Create-Post-Table-Value">1500AH</td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                </tr>
                                <tr class="Create-Post-Table-Body">
                                    <td class="Create-Post-Table-Category">음향</td>
                                    <td class="Create-Post-Table-Value">50DB</td>
                                    <td class="Create-Post-Table-Value">50DB</td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                </tr>
                                <tr class="Create-Post-Table-Body">
                                    <td class="Create-Post-Table-Category">무선충전</td>
                                    <td class="Create-Post-Table-Value">가격</td>
                                    <td class="Create-Post-Table-Value">가격</td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                </tr>
                                <tr class="Create-Post-Table-Body">
                                    <td class="Create-Post-Table-Category">카테고리</td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                    <td class="Create-Post-Table-Value"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="Create-Post-Content">
                        <div class="Create-Post-Title">무선 이어폰 가성비 분석 자료입니다! 저는 에어팟이 제일 좋은 줄 알았는데 이 이어폰이 가성비가 가장 좋았어요 특히 무게면에서 월등하네요!</div>
                        <div class="Create-Post-Text">
                            <pre>
아이팟 쓰레기... 비싸고 무게 많이 나가고 배터리 안 좋아요 사지마세요... 차라리 차이팟 쓰세요 님들...
부들부들 차이팟이 포지셔닝 보면 
에어팟 보다 다양한 측면에서 월등합니다... 저도 놀랬어요.
                            </pre>
                        </div>
                    </div>
                    <div class="Create-Post-Upload">
                        <div class="Create-Post-Youtube">
                            <img class="Create-Post-Youtube-Image" src="images/YoutubeLogo.svg" alt="Youtube-Logo"/>
                            <span class="Create-Post-Youtube-Text">유튜브 리뷰영상 바로가기</span>
                            <a href="/" class="Create-Poist-Youtube-Link">https://www.youtube.com/</a>
                        </div>
                        <button class="Create-Post-Upload-Button">등록</button>
                    </div>
                </div>
            </article>
            <table class='Content-View'>
                <tbody>
                    <tr class='Content-Header'>
                        <% for (let i = 0; i < contentHead.length; i++) { %>
                        <th class='Content-Header-Element'>
                            <%=contentHead[i]%>
                        </th>
                        <% } %>
                    </tr>
                    <% for (let i = 0; i < data.length; i++) { %>
                    <tr class='Content-List-Element'>
                        <% for (let k = 0; k < contentKey.length; k++) { %>
                        <td class=<%='Content-List-'+contentKey[k] %>>
                            <% if (k == 1) { %>
                            <img src='' alt='titleImage' class='Content-List-TitleImage' />
                            <% } else if (k == 7) { %>
                            <img src='./images/recomend_img.svg' alt='titleImage' class='Content-List-Recomend' />
                            <%= data[i][contentKey[k]] %>
                            <% } else { %>
                            <%= data[i][contentKey[k]] %>
                            <% } %>
                        </td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </article>
    </section>
</body>
</html>