<section class="banner">
    <div class="banner_Image Slide_1"></div>
    <div class="banner_Image Slide_2"></div>
    <div class="banner_Image Slide_3"></div>
    <div class="banner_SlideButtonBox">
        <button class="banner_SlideButton Slide_1_Button" style="background-color: black"></button>
        <button class="banner_SlideButton Slide_2_Button"></button>
        <button class="banner_SlideButton Slide_3_Button"></button>
    </div>
</section>