<header>
    <div class="top">
      <a href="/" class="top_Logo">로고</a>
      <div class="top_Personal">
        <a href="/create" class="top_Personal_Create button bold">비교하기</a>
        <div class="top_Personal_Image"></div>
      </div>
    </div>
    <div class="header_Bottom">
      <div class="header_Bottom_Search">
        <input type="text" class="header_Bottom_Search_Bar sub-title2" />
        <img
          src="/images/search_img.svg"
          alt=""
          class="header_Bottom_Search_Image"
        />
      </div>
    </div>
  </header>