<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css'>
    <link rel='stylesheet' type="text/css" href='/stylesheets/content_view.css'/>
    <link rel="stylesheet" type="text/css" href='/stylesheets/header.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/banner.css'/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/hot_view.css">
    <link rel="stylesheet" type="text/css" href='/stylesheets/nav.css'/>
  </head>
  <body>
    <section class='Container'>
      <article class='Content'>
      <% include ./header.ejs %>
      <% include ./nav.ejs %>
      <% include ./banner.ejs %>
      <%- include('hot_view' , {
        viewList: [
          {image: 'images/temp.jpg', text: '다이슨 공기 청정기'},
          {image: 'images/temp.jpg', text: '다이슨 공기 청정기'},
          {image: 'images/temp.jpg', text: '다이슨 공기 청정기'},
          {image: 'images/temp.jpg', text: '다이슨 공기 청정기'}
        ]
      }) %>
      <div class='Content-View-Title head-line5'>주간 인기 비교 분석</div>
      <%- include('content_view' , {
        data: data,
        contentKey: contentKey,
        contentHead: contentHead
      }) %>
      </article>
    </section>
  </body>
  <script src="javascripts/carousel.js"></script>
</html>
