<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html, body{margin: 0;}
        @keyframes rotate {
            0% { transform: rotateZ(0deg); }
            100% { transform: rotateZ(360deg); }
        }
        svg:nth-of-type(2) {
            animation: rotate 5s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(3) {
            animation: rotate 10s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(4) {
            animation: rotate 20s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(5) {
            animation: rotate 40s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(6) {
            animation: rotate 80s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(7) {
            animation: rotate 160s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(8) {
            animation: rotate 320s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(9) {
            animation: rotate 640s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(10) {
            animation: rotate 1280s infinite;
            animation-timing-function: linear;
        }
        svg:nth-of-type(11) {
            animation: rotate 2560s infinite;
            animation-timing-function: linear;
        }
    </style>
</head>
<body>
    <!-- 육각형 그래프 테스트 -->
    <svg width="600" height="600">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id ='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
    <svg width="600" height="600" style="position: absolute; left: 0;">
        <polygon id='pl'
            points="300,0 150.00000000000003,259.8076211353316 -149.99999999999994,259.8076211353316 -300,3.6739403974420595e-14 -150.00000000000014,-259.80762113533154 150.00000000000003,-259.8076211353316"
            transform='translate(300, 300)' fill="#FFFFFF" fill-opacity="0.1" stroke="black"></polygon>
        <path id='pt'></path>
    </svg>
</body>
<script>
const data1 = [
    { attr: '', value: 1 },
    { attr: '', value: 0.8 },
    { attr: '', value: 0.7 },
    { attr: '', value: 1 },
    { attr: '', value: 0.8 },
    { attr: '', value: 0.7 },
]
const data2 = [
    { attr: '', value: 1 },
    { attr: '', value: 1 },
    { attr: '', value: 1 },
    { attr: '', value: 1 },
    { attr: '', value: 1 },
    { attr: '', value: 1 },
    { attr: '', value: 1 },
]

function getPolyPointByAngle(angle, length) {
    let x = Math.cos(Math.PI * (angle / 180)) * length;
    let y = Math.sin(Math.PI * (angle / 180)) * length;
    return {x, y};
}
function getPoly(data, size) {
    let angle = 360 / data.length;
    return data.map((element, i) => {
        return getPolyPointByAngle(angle * i, element.value * size);
    });
}
function toStringPolyData(data) {
    let str = "";
    data.map((element) => {
        str += (element.x + "," + element.y + " "); 
    });
    return str;
}
document.getElementById('pl').points = toStringPolyData(getPoly(data2, 300));
</script>
</html>